{% extends 'admin/admin_layout.html.twig' %}

{% block body %}
    <h1>Movie creation</h1>

    {{ form_start(form) }}
       
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-success" />
    {{ form_end(form) }}

<hr>

    <ul class="list-unstyled list-inline">
        <li class="list-inline-item">
            <a class="btn btn-success" href="{{ path('movie_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
