{% extends 'admin/admin_layout.html.twig' %}

{% block body %}

    <h1> Modification secteur d'activité </h1>

    {{ form_start(form, {'attr': {'novalidate' : 'novalidate'}}) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success"> Enregistrer </button>
    
    {{ form_end(form) }}

{% endblock %}